body {
  background-color: #eaeef3;
}
.chart-container {
  height: 400px;
}

.summary-box {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  margin-left: 10px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  /* justify-content: center; */
  text-align: center;
  box-shadow: black;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.admin-text {
  margin-left: 20px;
}
.summary-box h2 {
  color: white;
}
.summary-box h4 {
  color: white;
}
.overallAdminBox {
  display: flex;
}
.heading-student {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);

  background-color: black;
  padding: 5px;
}
.main-chart {
  background-color: white;
  padding: 0 0 30px 0;
}
.admin-details {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  height: 230px;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
}

.registered-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.recently-registered-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.recently-registered-container {
  display: flex;
  justify-content: center;
}

.recently-registered {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  /* height: 200px; */
  /* border-radius: 30px; */
  margin: 0 5px;
  color: black;
  border-bottom: 0.5px solid rgb(90, 87, 87);
}
.recently-registered-columns {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
}

.green {
  background-image: linear-gradient(to right, #3ddbbb, #49ddbf, #57e0c4);
}
.blue {
  background-image: linear-gradient(to right, #51a2ff, #61aaff, #6fb2ff);
}
.yellow {
  background-image: linear-gradient(to right, #ffbd5e, #ffc46f, #ffca7e);
}
.red {
  background-image: linear-gradient(to right, #ff647e, #ff738b, #ff8498);
}
