.hero-section-main {
  background-image: linear-gradient(to right, #9b62f8, #9766e3, #aa81e8);
}
.sidebar {
  background-image: linear-gradient(
    to bottom,
    #b28eeb,
    #925fe2,
    #925fe2,
    #925fe2
  );
}
.custom-input {
  width: 300px;
}
.filter-form {
  display: flex;
  align-items: center;
}

.filter-group {
  margin-right: 10px;
}

.filter-datepicker {
  width: 150px;
}

.filter-dropdown-toggle {
  width: 150px;
}

.filter-button {
  margin-left: 10px;
}
.assignments-container {
  display: flex;
}

.my-assignments-container {
  display: flex;
  margin-top: 50px;
}

.latest-assignment,
.second-latest-assignment,
.latest-assignment-by-me {
  margin-right: 20px;
}
.assignment-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.assignment-box {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.assignment-details {
  font-size: 14px;
}

.assignment-actions {
  display: flex;
  /* justify-content: space-between; */

  margin-top: 10px;
}

.action-icon {
  cursor: pointer;
  font-size: 18px;
  color: #333;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .assignment-box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .assignment-box {
    width: 100%;
    margin-right: 0;
  }
}
